* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 400px;
  width: 40%;
  margin-top: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #f1f1f1;
  height: 100%;
  border-radius: 20px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.container h1 {
  color: #11114e;
}

.container span {
  color: #f7e025;
}

.timer {
  display: flex;
  font-size: 55px;
  font-weight: bold;
  color: #333;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #255d96;
  min-width: 90px;
}

.separator {
  padding: 0 10px;
  color: #525763;
}

.milliseconds {
  font-size: 30px;
  color: #525763;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  color: white;
  background-color: #333;
}

#startBtn {
  background-color: #11114e;
  color: white;
}

#pauseBtn,
#resumeBtn {
  display: none;
}
